h2 {
  font-size: 32px;
  color: #6e728e;
  margin-top: 72px;
}
.toggle-menu {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.annually,
.monthly {
  font-size: 15px;
  color: #6e728e;
  line-height: 1.87;
  opacity: 0.5;
}
.toggle-btn {
  width: 56px;
  height: 32px;
  padding: 4px 4px 4px 28px;
  border-radius: 16px;
  background-image: linear-gradient(120deg, #a2a7f0 -25%, #696edd 75%);
}
.circle {
  width: 24px;
  height: 24px;
  background-color: white;
  border-radius: 50px;
}
.list-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px;
}
.main-container,
.main-container-active {
  width: 350px;
  padding: 31px;
  border-radius: 10px;
  margin-top: 15px;
}
.main-container {
  background-color: white;
  height: 453px;
}
.main-container-active {
  height: 500px;
  background-image: linear-gradient(145deg, #a2a7f0 17%, #696edd 117%);
}
.title,
.title-active {
  font-size: 18px;
  line-height: 1.56;
}
.title {
  color: #6e728e;
}
.title-active {
  color: white;
}
.price,
.price-active {
  font-size: 72px;
  line-height: 0.99;
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.price {
  color: #4a4d60;
}
.price-active {
  color: white;
}
.currency,
.currency-active {
  font-size: 40px;
  letter-spacing: -1.2px;
}
.currency {
  color: #4a4d60;
}
.currency-active {
  color: white;
}
.line,
.line-active {
  width: 288px;
  opacity: 0.25;

  margin-top: 12px;
  margin-bottom: 12px;
}
.line {
  border: 1px solid #6e728e;
}
.line-active {
  border: 1px solid white;
}
.detail,
.detail-active {
  font-size: 15px;
}
.detail {
  color: #6e728e;
}
.detail-active {
  color: white;
}
.learn-button,
.learn-button-active {
  width: 100%;
  height: 44px;
  border-radius: 6px;
  font-size: 13px;
  margin-top: 32px;
  letter-spacing: 1.39px;
  cursor: pointer;
  font-weight: bold;
}
.learn-button {
  color: white;
  background-image: linear-gradient(99deg, #a2a7f0 0%, #696edd 100%);
}
.learn-button:hover {
  color: rgb(79, 79, 189);
  background-image: linear-gradient(99deg, #b1b4e9 0%, #d5d6ea 100%);
}
.learn-button-active {
  background-color: white;
  color: #6d72de;
}
.learn-button-active:hover {
  color: white;
  background-color: #4e52a4;
}
